<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Yaba Login</title>
		<link href="login.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<h2>Yaba Login</h2>

		<div>
			<label for="login-name">Username</label>
			<input type="text" id="login-name">

			<label for="login-pwd">Password</label>
			<input type="password" id="login-pwd">

			<button type="button" onclick="testLogin();">Log in</button>

			<input type="file" onchange="readFile(event)">
		</div>
	</body>
</html>

<script>
	const BACKEND_ADDR = "https://%|%|BACKEND_ADDR|%|%";
	const CHALLENGE = "%|%|CHALLENGE|%|%";
	var pubkeyFile = "NONE";


	function readFile(e) {
		pubkeyFile = e.target.files[0];
		/*
		var file = e.target.files[0];
		if (!file) return;
		var reader = new FileReader();
		reader.onload = function(e) {
			pubkey = e.target.result;
		};
		reader.readAsText(file);
   		*/
	}
	async function testLogin() {
		const username = $("#login-name").val();
		const password = $("#login-pwd").val();
		const localDigest = await digestPassword(password);

		var reader = new FileReader();
		reader.onload = function(e) {
			alert("CONTENTS:\n" + e.target.result);
			alert("name: |" + $("#login-name").val() + "|\npwd: |" + $("#login-pwd").val() + "|\nkey: |" + localDigest + "|");
		};
		reader.readAsText(pubkeyFile);
	}

	async function digestPassword(pwd) {
		const hash = await window.crypto.subtle.digest("SHA-256", new TextEncoder().encode(pwd));
		return Array.from(new Uint8Array(hash)).map((x) => x.toString(16).padStart(2, "0")).join("");
	}
</script>

